@tailwind base;
@tailwind components;
@tailwind utilities;

*::selection {
  @apply bg-sky-900 text-violet-200;
}

*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  border-radius: 1px;
  background-color: #1f1f25;
  transition: "ease-in-out 300ms";
}

*::-webkit-scrollbar-track:hover {
  background-color: #101012;
}

*::-webkit-scrollbar-track:active {
  background-color: #101012;
}

*::-webkit-scrollbar-thumb {
  transition: "ease-in-out 300ms";
  border-radius: 5px;
  @apply bg-violet-500;
}

*::-webkit-scrollbar-thumb:hover {
  @apply bg-violet-700;
}

*::-webkit-scrollbar-thumb:active {
  @apply bg-violet-700;
}

@layer base {
  body {
    @apply font-body;
  }

  a,
  button {
    all: unset;
    @apply cursor-pointer;
  }

  span {
    @apply block;
  }

  input,
  textarea,
  select,
  button,
  span,
  a {
    @apply font-body;
  }
}